/* ==========================================================================
 Section comment block
========================================================================== */

/** Sub-section comment block **/



/* ==========================================================================
 Typography
========================================================================== */

html {
	color: #2c2c2c;
}

a {
	color: #c20a12;
}



/* ==========================================================================
 Header Component
========================================================================== */

header {
	background-color: #401c0e;
	color: #f8eee0;
	padding: 2rem;
}



/* ==========================================================================
 Footer Component
========================================================================== */

footer {
	background-color: #401c0e;
	color: #f8eee0;
	padding: 2rem;
}